aiohttp==3.8.6
arxiv==2.0.0
beautifulsoup4==4.12.2
google-auth==2.25.2
google-auth-oauthlib==1.2.0
google-search-results==2.4.2
gseapy==1.1.1
json5==0.9.14
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.11.1
keras==2.15.0
langchain==0.0.335
matplotlib==3.8.1
matplotlib-inline==0.1.6
networkx==3.2.1
numpy==1.26.2
openai==0.28.0
pandas==2.1.3
pathlib==1.0.1
platformdirs==4.1.0
plotly==5.18.0
pyodbc==4.0.35
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
seaborn==0.13.1
scipy==1.11.4
streamlit==1.28.2
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-chat==0.0.2.2
streamlit-chat-animated==0.0.3.3
streamlit-embedcode==0.1.2
streamlit-extras==0.3.5
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-modal==0.1.0
streamlit-player==0.1.5
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
SQLAlchemy==1.4.47
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
transformers==4.36.0
urllib3==2.1.0







